<h3> My Order History: </h3>
<ul class="condos">
<% @orders.each do |order| %>
  <a href="/orders/<%= order.id %>">
    <li><%= order.bread.capitalize %> bread, <%= order.meat.capitalize %>, <%= order.cheese.capitalize %>     </a>
(<%= order.created_at.in_time_zone.to_formatted_s(:long) %>)</li>
<% end %>
</ul>