<h3> My Order History: </h3>

<% @orders.each do |order| %>
  <%= order.created_at.to_formatted_s(:long) %>: 
  <a href="/orders/<%= order.id %>">
    <%= order.bread.capitalize %> bread, <%= order.meat.capitalize %>, <%= order.cheese.capitalize %>
  </a>
<% end %>