<h3> My Order History: </h3>

<% @orders.each do |order| %>
  <a href="/orders/<%= order.id %>">
    <%= order.bread.capitalize %> bread, <%= order.meat.capitalize %>, <%= order.cheese.capitalize %>     </a>
(<%= order.created_at.in_time_zone.to_formatted_s(:long) %>)
    <br>
<% end %>