<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Sandwich Order!</h1>
    <p>
      Someone wants a sandwich!<br/>
    </p>
      <p>Bread: <b><%= @order.bread.capitalize %></b></p>
      <p>Meat: <b><%= @order.meat.capitalize %></b></p>
      <p>Cheese: <b><%= @order.cheese.capitalize %></b></p>
      <% unless @order.condiments.empty? %>
        <p>Condiments:
          <% @order.condiments.each do |condiment| %>
            <li><b><%= condiment.name.capitalize %></b></li>
          <% end %>
        </ul>
        </p>
      <% end %>

    "<%= @quote.body%>"
    - <%= @quote.author %>

    <p>Keep the great sammies coming!</p>

  </body>
</html>